{% extends "base.html" %}

{% block title %}Teacher Dashboard{% endblock %}

{% block content %}

<h2>Teacher's Dashboard</h2>

<div class="dashboard-menu">

    <a href="{{ url_for('main.students') }}" class="btn">
        Manage Students
    </a>

    <a href="{{ url_for('main.mark_attendance') }}" class="btn btn-success">
        Mark Attendance
    </a>

    <a href="{{ url_for('main.view_attendance') }}" class="btn">
        View Records
    </a>

    <a href="{{ url_for('main.logout') }}" class="btn btn-danger">
        Logout
    </a>

</div>

{% endblock %}