{% macro table(headers, rows) %}
<div class="table-card">
    <table>
        <thead>
            <tr>
                {% for h in headers %}
                    <th>{{ h }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}